<h1>Guess?</h1>
<p>Guess is a game where you, the user, guess what number I'm thinking about.</P>
<p>The number I'm thinking of is somewhere from 1 to 10</p>
<p>I will tell you whether your number is too high or low until you guess it right</p>
<p>Click the link to play!</p>
<%= link_to 'Play Guess', new_game_path %>